/* reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /********************* Fonts */
  font-size: 10px;
  font-family: Overpass;

  --font-xl: 3rem;
  --font-l: 2rem;
  --font-m: 1.5rem;

  line-height: 2rem;

  /********************* Colors */
  --clr-primary: hsl(25, 97%, 53%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);

  /********************* Padding */
  --padd-st-v-xl: 4rem;
  --padd-st-h-xl: 4rem;
  --padd-st-v-l: 3rem;
  --padd-st-h-l: 3rem;
  --padd-st-v-m: 2rem;
  --padd-st-h-m: 2rem;
  --padd-st-v-s: 1rem;
  --padd-st-h-s: 1rem;
  --padd-st-v-xs: 0.7rem;
  --padd-st-h-xs: 0.7rem;
}

body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  padding: var(--padd-st-v-l);

  background-color: black;
  color: var(--clr-white);

  padding-top: 20vh;
}

.review,
.thankU {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 40rem;
  background-color: var(--clr-very-dark-blue);
  border-radius: 2rem;

  padding: var(--padd-st-h-xl) var(--padd-st-h-l);

  transition: all 0.2s ease-in-out;
}

.star {
  align-self: flex-start;
  color: var(--clr-primary);
  background-color: var(--clr-dark-blue);

  font-size: var(--font-m);
  border-radius: 50%;
  padding: 1.5rem;
}

.review__title,
.thankU__title {
  font-size: var(--font-xl);
  font-weight: 700;
}

.review__para,
.thankU__para {
  font-size: var(--font-m);
  color: var(--clr-medium-grey);
}

.review__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
}

.review__rating--rate {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding: 1.5rem;
  font-size: var(--font-m);

  background-color: var(--clr-dark-blue);
  text-align: center;
  cursor: pointer;
}

.review__rating--rate:hover {
  color: var(--clr-white);
  background-color: var(--clr-primary);
  cursor: pointer;
}

.review__rating--rate,
.submit-btn {
  transition: all 0.2s ease-in-out;
}

.submit-btn {
  color: var(--clr-white);
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  border-radius: 2rem;
  letter-spacing: 0.3rem;
  font-weight: 400;

  padding: var(--padd-st-v-s) var(--padd-st-h-m);
}

.submit-btn:hover {
  color: var(--clr-primary);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-white);
  cursor: pointer;
}

.active {
  color: var(--clr-white);
  background-color: var(--clr-medium-grey);
}

.invisible {
  z-index: -1;
  visibility: hidden;
  display: none;
}

.thankU {
  align-items: center;
}

.thankU__para {
  text-align: center;
}

.thankU__rating {
  color: var(--clr-primary);
  font-size: var(--font-m);
  background-color: var(--clr-dark-blue);

  padding: var(--padd-st-v-xs) var(--padd-st-h-m);
  border-radius: 2rem;
}

/****************** Responsivess */

@media only screen and (max-width: 480px) {
  .review,
  .thankU {
    width: 80vw;
  }
}

@media only screen and (max-width: 430px) {
  .review__rating--rate {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.7rem 0.2rem;
    font-size: var(--font-s);
  }

  .review__title,
  .thankU__title {
    font-size: var(--font-l);
  }
}
